<div>
    <h2 id="page-heading">
        <span>Descriptions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-description" [routerLink]="['/description/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create une nouvelle description
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="descriptions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Identifiant</span></th>
            <th><span>Contenu</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let description of descriptions ;trackBy: trackId">
                <td><a [routerLink]="['/description', description.id, 'view' ]">{{description.id}}</a></td>
                <td>{{description.contenu}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/description', description.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Voir</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/description', description.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Modifier</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'description/'+ description.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Supprimer</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
