<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="badgeage">
            <h2><span>Badgeage</span> {{badgeage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Current Date</span></dt>
                <dd>
                    <span>{{badgeage.currentDate}}</span>
                </dd>
                <dt><span>Badgeage Eleve</span></dt>
                <dd>
                    <span>{{badgeage.badgeageEleve}}</span>
                </dd>
                <dt><span>Badgeage Corrige</span></dt>
                <dd>
                    <span>{{badgeage.badgeageCorrige}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/badgeage', badgeage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
