<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <h1>ITBADGE</h1>
        </div>
    </div>

    <div *ngIf="isEleve()" class="justify-content-center">
        <div *ngIf="cours != null">
            <div class="row">
                <div class="col">
                    <table class="table table-bordered">
                        <tr>
                            <td>Cours du jour</td>
                            <td>Badgeage matin</td>
                            <td>Badgeage après-midi</td>
                        </tr>
                        <tr>
                            <td>{{ cours.nom }}</td>
                            <td ng-class="badgeage_matin_error ? 'td-error' :">{{ listBadgeage[0]?.badgeageEleve.format('HH:mm')}}</td>
                            <td ng-class="badgeage_aprem_error ? 'td-error' :">{{ listBadgeage[1]?.badgeageEleve.format('HH:mm')}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12">
                    <button class="btn btn-success" (click)="badger()">Badger</button>
                </div>
            </div>
        </div>

        <div *ngIf="cours == null">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                     Aucun cours trouvé pour aujourd'hui
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="isProfesseur()" class="justify-content-center">
        <div *ngIf="cours != null">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    Cours du jour : {{ cours.nom }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12">
                    <button class="btn btn-success">Faire l'appel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>Elève</th>
                            <th>Présence matin</th>
                            <th>Présence après-midi</th>
                        </tr>
                        <tr *ngFor="let eleve of listCurrentEleve">
                            <td>{{eleve.user.firstName}} {{eleve.user.lastName}}</td>
                            <td>{{eleve.listBageages[0]?.badgeageEleve.format('HH:mm')}}</td>
                            <td>{{eleve.listBageages[1]?.badgeageEleve.format('HH:mm')}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div *ngIf="cours == null">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    Aucun cours trouvé pour aujourd'hui
                </div>
            </div>
        </div>
    </div>
</div>
