<div *ngIf="isEleve()" class="row justify-content-center">
    <div class="col-md-8 col-sm-12">
        <h1>ITBADGE</h1>
        <table class="table table-bordered">
            <tr>
                <td>Cours du jour</td>
                <td>Badgeage matin</td>
                <td>Badgeage après-midi</td>
            </tr>
            <tr>
                <td>{{ cours.nom }}</td>
                <td ng-class="badgeage_matin_error ? 'td-error' :">{{ listBadgeage[0].badgeageCorrige }}</td>
                <td ng-class="badgeage_aprem_error ? 'td-error' :">{{ listBadgeage[1].badgeageCorrige }}</td>
            </tr>
        </table>
    </div>
</div>

<div *ngIf="isProfesseur()" class="row justify-content-center">
    <div class="col-md-8 col-sm-12">
        <h1>ITBADGE</h1>
        <table class="table table-bordered">
            <tr>
                <td>Cours du jour</td>
                <td>Badgeage matin</td>
                <td>Badgeage après-midi</td>
            </tr>
            <tr>
                <td>{{ cours }}</td>
                <td ng-class="badgeage_matin_error ? 'td-error' :">{{ badgeage_matin }}</td>
                <td ng-class="badgeage_aprem_error ? 'td-error' :">{{ badgeage_aprem }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8 col-sm-12">
        <button class="btn btn-success">Badger</button>
    </div>
</div>
